.option-7263j {
    font-size: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s, font-size 0.3s;
}

.option-7263j:hover {
    color: #ffcc00; 
  }
  