.title-i-sagie {
    position: relative;
    font-size: 16px;
    margin: 0;
    padding: 8px 0;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 5px;
      }

    div {
        position: absolute;
        background-clip: border-box;
        background-image: linear-gradient(135deg, #f6b84666 0%, #f6b84603 100%);
        background-origin: padding-box;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        top: 55%;
        left: -10px;
        transform: translateY(-50%);
    }

    h2 {
        font-weight: 600;
    }
}

.title-i-light-mode::before {
    background: radial-gradient(at left center, rgb(221, 221, 221) 0%, rgba(255, 255, 255, 0) 70%);
}

.title-i-dark-mode::before {
    background: radial-gradient(at left center, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}
