@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-track {
  background: #777;
  border-radius: 0 5px 5px 0;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #f6b84666 0%, #f6b84603 100%);
  border-radius: 0 5px 5px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
